@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BYOSalad</h1>
    <p class="lead">Bring your Salad</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Show Salads
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Salads", "Index", "Salads")</a></p>
      
    </div>
    <div class="col-md-4">
        <h2>xxxxxxxx</h2>
        <p>xxxxxxxx</p>
    </div>
    <div class="col-md-4">
        <h2>Write your salad recipe</h2>
        <p>Please, share your favorite salad with the comunity</p>
        <p><a class="btn btn-default" @Html.ActionLink("Into your Salad", "Create", "Salads")</a></p>
    </div>
</div>